* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: steelblue;
  background-image: radial-gradient(white, steelblue);
  display: flex;
  flex-direction: column;
}

header,
footer,
main,
nav {
  display: grid;
  grid-template-columns: 100%;
  place-content: center;
  text-align: center;
}
header,
footer {
  position: sticky;
  background-color: #03244b;
  color: white;
}
header {
  top: 0;
}
footer {
  bottom: 0;
}

main {
  flex-grow: 1;
}

nav {
  background: #ffff;
  color: #03244b;
  border-bottom: 2px solid #03244b;
}

/* 1st media queries */

@media screen and (min-width: 576px) {
  body {
    background-color: lightcoral;
    background-image: radial-gradient(white, lightcoral);
  }
}
@media screen and (min-width: 880px) {
  body {
    background-color: dodgerblue;
    background-image: radial-gradient(white, dodgerblue);
  }
}
@media screen and (min-width: 1000px) {
  body {
    background-color: rebeccapurple;
    background-image: radial-gradient(white, rebeccapurple);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: lightgreen;
    background-image: radial-gradient(white, lightgreen);
  }
}
