* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  grid-template-rows: 75px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sd sd"
    "ft ft ft ft ft ft ft ft ft";
  gap: 1rem;
}

.el {
  background: blue;
  color: white;
  display: grid;
  place-content: center;
}
.header {
  background: gold;
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.sidebar {
  background: lightcoral;
  grid-area: sd;
}

.box {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 2rem;
}

.container {
  grid-area: mn;
  display: grid;
  grid-template-columns: repeat(2, 1fr 80px);
  grid-template-rows: minmax(750px, auto);
  gap: 0.2em;
}

.box:first-child {
  background: green;
  grid-column: 1/3; /*Short Hand property*/

  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  place-content: center;
}
.box:nth-child(2) {
  background: purple;
  grid-row: 1/4;
}
